@font-face {
  font-family: "iconfont"; /* Project id 3955024 */
  src: url('iconfont.woff2?t=1678875416539') format('woff2'),
       url('iconfont.woff?t=1678875416539') format('woff'),
       url('iconfont.ttf?t=1678875416539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-userPwd:before {
  content: "\e638";
}

.icon-userName:before {
  content: "\e678";
}

