@font-face {
  font-family: "iconfont"; /* Project id 3955024 */
  src: url('iconfont.woff2?t=1679003255341') format('woff2'),
       url('iconfont.woff?t=1679003255341') format('woff'),
       url('iconfont.ttf?t=1679003255341') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-wendu:before {
  content: "\e66c";
}

.iconfont-shidu:before {
  content: "\e673";
}

.iconfont-windy:before {
  content: "\e6ad";
}

.iconfont-tianqi-leidiantianqi:before {
  content: "\e6dc";
}

.iconfont-tianqi:before {
  content: "\e601";
}

.iconfont-center:before {
  content: "\e600";
}

.iconfont-map:before {
  content: "\e9c0";
}

.iconfont-main:before {
  content: "\e639";
}

.iconfont-alert:before {
  content: "\e6b7";
}

.iconfont-rank:before {
  content: "\e670";
}

.iconfont-userPwd:before {
  content: "\e638";
}

.iconfont-userName:before {
  content: "\e678";
}

